<a href="https://colab.research.google.com/github/siddhu1203/credit-card-fraud-detection/blob/main/credit_card_fraud_detection_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

data path
in dataset we need to grab peek point of the data

In [10]:
path='/content/drive/MyDrive/Colab Notebooks/creditcard (1).csv'
data=pd.read_csv(path)

#Understanding the Data
**bold text**# Grab a peek at the data

In [11]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Describing the Data
 
 Print the shape of the data

In [12]:
data= data.sample( frac=0.1, random_state=48 )
print(data.shape)
print(data.describe())

(28481, 31)
                Time            V1            V2            V3            V4  \
count   28481.000000  28481.000000  28481.000000  28481.000000  28481.000000
mean    94303.978126      0.000084     -0.007061      0.013951     -0.009899
std     47450.510233      1.939031      1.619107      1.520114      1.408995
min         0.000000    -40.470142    -38.430842    -31.103685     -4.897347
25%     53923.000000     -0.923893     -0.605220     -0.873069     -0.857457
50%     83955.000000      0.005146      0.056073      0.199804     -0.030054
75%    138785.000000      1.310402      0.797713      1.037859      0.728976
max    172788.000000      2.446505     16.713389      3.934537     12.114672

                 V5            V6            V7            V8            V9  \
count  28481.000000  28481.000000  28481.000000  28481.000000  28481.000000
mean       0.000024     -0.000812     -0.006474     -0.001324     -0.001497
std        1.352572      1.322328      1.183975      1.205769      1.093588
min      -25.025820    -23.496714    -28.011293    -38.751525     -8.960922
25%       -0.693905     -0.766712     -0.549531     -0.206978     -0.645238
50%       -0.059123     -0.274496      0.039802      0.023232     -0.053738
75%        0.613238      0.398508      0.566610      0.331188      0.597773
max       34.099309     16.355534     24.664527     20.007208      9.234623

       ...           V21           V22           V23           V24  \
count  ...  28481.000000  28481.000000  28481.000000  28481.000000
mean   ...      0.005671     -0.004059     -0.003998      0.004771
std    ...      0.728019      0.729095      0.650767      0.606139
min    ...    -18.458144     -6.152177    -44.807735     -2.814898
25%    ...     -0.226879     -0.540882     -0.163337     -0.351306
50%    ...     -0.030813      0.003482     -0.010751      0.043446
75%    ...      0.187999      0.531149      0.148103      0.439801
max    ...     15.904677      7.057496     19.002942      3.957013

                V25           V26           V27           V28        Amount  \
count  28481.000000  28481.000000  28481.000000  28481.000000  28481.000000
mean       0.000166      0.001163      0.003692      0.002563     88.577751
std        0.522213      0.482634      0.376358      0.296151    234.110331
min      -10.295397     -1.653193     -7.764147     -8.338123      0.000000
25%       -0.316753     -0.324297     -0.070970     -0.052413      5.950000
50%        0.019872     -0.051665      0.001518      0.011503     21.990000
75%        0.349295      0.241840      0.090981      0.077893     77.010000
max        4.513681      3.119295      8.254376     15.632689   6000.000000

              Class
count  28481.000000
mean       0.001966
std        0.044299
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 31 columns]

#Imbalance in the data
#Time to explain the data we are dealing with
# Determine number of fraud cases in dataset

In [17]:
fraud= data[data['Class']== 1 ]
valid= data[data['Class']== 0 ]
print('fraud cases:{}'.format(len(fraud)))
print('valid transcation : {}'.format(len(valid)))

0.0019700967458223394
fraud cases:56
valid transcation : 28425

#Print the amount details for Fraudulent Transaction

In [15]:
#print amount of fraud transactions 
fraud.Amount.describe()

count     56.000000
mean      91.449464
std      164.524448
min        0.000000
25%        1.000000
50%       18.520000
75%      109.307500
max      996.270000
Name: Amount, dtype: float64

#Print the amount details for Normal Transaction

In [16]:
valid.Amount.describe()

count    28425.000000
mean        88.572094
std        234.229021
min          0.000000
25%          5.980000
50%         21.990000
75%         77.000000
max       6000.000000
Name: Amount, dtype: float64